<div class="panel panel-default">
    <div class="panel-heading d-flex justify-content-end">
        <h1>{{contact.name}} </h1>
        <img src="{{contact.imageUrl}}" alt="">
        
        <a class="btn btn-primary" [routerLink]="['/edit']">Edit</a>
        <a class="btn btn-danger" (click)="onDelete()">Delete</a>
    </div>
    <div class="panel-body">
        <div>
            <label for="email"><em>Email:</em>{{contact.email}}</label>
        </div>
        <div>
            <label for="email"><em>Phone:</em>{{contact.phone}}</label>
        </div>
    </div>
</div>