
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Contacts</h1>
                <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
            </div>
            <div class="panel-body">
                <div class="col-12">
                    <app-contact-item
                    *ngFor="let contact of contacts"
                    [contact]="contact"
                    [routerLink]="[contact.id]"
                    ></app-contact-item>
                </div>
            </div>
        </div>


